<!DOCTYPE html>
<html>
<head>
  <title>austinkeeley.com</title>

  <%= javascript_include_tag 'jquery-2.0.3' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'font-awesome' %>
  <style type="text/css">
    html {
    	height: 100%;
    }

    body {
    	padding-top: 60px;
        padding-bottom: 40px;
  	}

  </style>
  <%= stylesheet_link_tag 'bootstrap-responsive' %>

</head>
<body>

  <%= render 'shared/nav' %>



  <div class="container">
  	<%= yield %>
  </div>

</body>
</html>